{% extends "base" %}

{% block content %}
    <h1>Menu Form</h1>
    <form action="/generate_menu?" method="GET">
        {% for t in types %}
        <label for="{{ t.0 }}">{{ t.1 }}</label>
        <input id="{{ t.0 }}" name="{{ t.0 }}" type="text" value="0"/>
        <br/>
        <br/>
        {% endfor %}
        <input type="submit" value="Preview"/>
    </form>
{% endblock content %}
