{% extends "base" %}

{% block content %}
    <h1>Menu List</h1>
    <ul>
        {% for l in recipes %}
            <li>
                <a href="{{ l.1 }}">{{ l.0 }}</a>
            </li>
        {% endfor %}
    </ul>
    <h1>Shopping List</h1>
    <ul>
        {% for l in ingredients %}
            <li>{{ l.0 }} -- {{ l.1 }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
